# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build Artifacts
node_modules/
dist/
dist-ssr/
*.local

# Environment Variables
.env
.env.local
.env.development
.env.test
.env.production

# Vite Cache
.vite/

# Test Artifacts
coverage/

# Editor Directories and Files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary Files
*.bak
*.tmp
*.temp

# macOS
*.DS_Store