{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "tailwindConfig": "./tailwind.config.ts",
  "plugins": [],
  "overrides": [
    {
      "files": ["*.tsx", "*.jsx", "*.css"],
      "options": {
        "plugins": ["prettier-plugin-tailwindcss"]
      }
    }
  ]
}
