
/* src/styles/animations.css */
/* =========================
   Animations
   ========================= */
@layer utilities {
  @keyframes flash {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }

  .animate-flash {
    animation: flash 1.5s infinite;
  }
}
